.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.29;
}

.advantages__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
}

@media (min-width: $tablet-width) {
  .advantages__number {
    display: flex;
    position: absolute;
    right: 20px;
    margin: 0;
    font-family: "Oswald", sans-serif;
    line-height: 1;
    font-size: 281px;
    color: rgba(#f2f2f2, 0.5);
  }

  .advantages__text {
    font-size: 16px;
    line-height: 1.5;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    font-size: 60px;
    line-height: 1;
  }
}
