.catalog {
  margin: 20px;
}

.catalog__list {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog__item {
  align-items: flex-start;
  min-height: 266px;
  margin-bottom: 24px;
  padding: 0px 20px;
  background-color: #f2f2f2;
  color: #444444;
}

.catalog__title {
  margin-left: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.29;
  text-transform: uppercase;
}

.catalog__description {
  text-align: left;
}

.catalog__picture {
  width: 50px;
  height: 51px;
  text-align: center;
  background-color: $secondary-color;
  border-radius: 50%;
}

.catalog__image {
  &--slim {
    width: 35px;
    height: 49px;
  }

  &--pro {
    width: 67px;
    height: 28px;

    margin: 20% -30%;
  }
}

.catalog__actions {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #111111;

  border-top: 1px solid #dedede;
  padding-top: 20px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.catalog__link-name::after {
  display: inline-block;
  content: "";
  width: 25px;
  height: 12px;
  margin-left: 12px;

  background: url("../img/icon-right-arrow-long.svg") no-repeat;
  background-size: 25px 12px;
}

.catalog__details {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin: 0 20px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__actions {
    border: none;
    padding: 0;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 65px;
    padding-left: 45px;
  }

  .catalog__item {
    margin-bottom: 20px;
    min-height: 372px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: unset;
  }

  .catalog__details {
    align-items: unset;
  }

  .catalog__title {
    flex-grow: 0;
    font-size: 36px;
    line-height: 1.03;
  }

  .catalog__description {
    font-size: 16px;
    line-height: 1.5;
  }

  .catalog__picture {
    // margin-right: 50px;
    // margin-top: 0px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog__picture {
    width: 200px;
    height: 200px;
    order: 2;
  }

  .catalog__image {
    &--slim {
      width: 140px;
      height: 195px;
    }

    &--pro {
      width: 268px;
      height: 113px;

      margin: 20% -30%;
    }
  }

  .catalog__description,
  .catalog__title {
    justify-content: flex-start;
    order: 1;
    // flex-grow: 1;
    flex-basis: 50%;
    margin: 0;
    padding: 20px;
  }
}


@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 33px;
  }

  .catalog__details {
    padding-top: 40px;
    padding-left: 48px;
    min-height: 192px;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .catalog__actions {
    padding-bottom: 65px;
    padding-left: 45px;

    font-size: 20px;
    line-height: 1;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    min-height: 372px;
  }

  .catalog__picture {
    // margin: 0;
    width: 100px;
    height: 100px;
  }

  .catalog__image {
    &--slim {
      width: 71px;
      height: 97px;
    }

    &--pro {
      width: 134px;
      height: 57px;
    }
  }

  .catalog__title {
    padding-left: 65px;
    font-size: 36px;
    line-height: 1.03;
  }

  .catalog__description {
    min-height: 65px;
    font-size: 16px;
    line-height: 1.5;
  }
}
