.catalog__list {
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  padding: 22px;
  margin: 20px 10px;
  background-color: #f2f2f2;
  color: #444444;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.29;
  text-transform: uppercase;
}

.catalog__description {
  text-align: left;
}

.catalog__picture {
  width: 50px;
  height: 51px;
  text-align: center;
  background-color: $secondary-color;
  border-radius: 50%;
}

.catalog__image {
  &--slim {
    width: 35px;
    height: 49px;
  }

  &--pro {
    width: 67px;
    height: 28px;

    margin: 20% -30%;
  }
}

.catalog__actions {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #111111;

  border-top: 1px solid #dedede;
  padding-top: 20px;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.catalog__link-name::after {
  display: inline-block;
  content: "";
  width: 25px;
  height: 12px;
  margin-left: 12px;

  background: url("../img/icon-right-arrow-long.svg") no-repeat;
  background-size: 25px 12px;
}

.catalog__details {
  display: flex;
  flex-wrap: wrap;
}

.catalog__title {
  flex-grow: 1;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__actions {
    border: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog__picture {
    width: 200px;
    height: 200px;
  }

  .catalog__picture {
    order: 2;
  }

  .catalog__image {
    &--slim {
      width: 140px;
      height: 195px;
    }

    &--pro {
      width: 268px;
      height: 113px;

      margin: 20% -30%;
    }
  }

  .catalog__description,
  .catalog__title {
    justify-content: flex-start;
    order: 1;
    flex-grow: 1;
    flex-basis: 50%;
    margin: 0;
    padding: 20px;
  }
}


@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
  }
}
