.copyright {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

.copyright__link {
  text-decoration: none;
  color: inherit;
}

.copyright__logo {
  border: none;
  color: transparent;
  font-size: 25px;
  background: url("../../img/htmlacademy.svg") no-repeat;
}
