.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

.copyright__link {
  text-decoration: none;
  color: inherit;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
    fill: #68b738;
  }
}


@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    padding-right: 15px;
  }
}
