.example {
  background-color: #f2f2f2;
}

.example__progression {
  display: flex;
}

.example__title,
.example__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.example__title {
  font-size: 36px;
  line-height: 1.67;
}

.example__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.43;
}

.example__description {
  font-size: 14px;
  line-height: 1.29;
}

// .example__picture {
//   text-align: center;

//   &--after {
//     display: none;
//   }
// }

@media (min-width: $tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 1;
  }

  .example__subtitle {
    font-size: 20px;
    line-height: 1;
  }

  .example__description {
    font-size: 16px;
    line-height: 1.5;
  }

  .example__progression {
    position: absolute;
  }

  .example__image {
    min-height: 550px;
    width: auto;
    content: url("../../img/before-tablet@1x.png");

    &--after {
      min-height: 560px;
      content: url("../../img/after-tablet@1x.png");
    }
  }

  .example__picture {
    display: flex;
    overflow: hidden;

    &--after {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    font-size: 60px;
  }

  .example__subtitle {
    font-size: 20px;
    line-height: 1;
  }

  .example__image {
    min-height: 500px;
    width: auto;
    content: url("../../img/before-desktop@1x.png");

    &--after {
      content: url("../../img/after-desktop@1x.png");
    }
  }

  .example__picture {
    display: flex;
    overflow: hidden;

    &--before {
      width: 365px;
    }

    &--after {
      width: 335px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .example__description {
    font-size: 16px;
    line-height: 1.5;
  }
}
