.example {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.example__progression {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.example__title,
.example__subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.example__title {
  font-size: 36px;
  line-height: 1.67;
}

.example__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.43;
}

.example__description {
  font-size: 14px;
  line-height: 1.29;
}

.example__info-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.example__picture {
  text-align: center;

  &--after {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background: #ffffff;
  }

  .example__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .example__details-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .example__info-wrapper {
    flex-grow: 1;
  }

  .example__title {
    text-align: left;
  }

  .example__subtitle {
    min-width: 40px;
    text-align: center;
  }

  .example__description {
    min-height: 64px;
  }

  .example__result-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    background-image: linear-gradient(white 30%, #eaeaea 10%);
  }

  .example__progression {
    position: absolute;
    bottom: 10px;
    flex-grow: 1;
  }

  .example__image {
    min-height: 500px;
    content: url("../../img/before-tablet@1x.png");

    &--after {
      content: url("../../img/after-tablet@1x.png");
    }
  }

  .example__picture {
    display: flex;
    overflow: hidden;
    padding-bottom: 80px;

    &--before {
      width: 340px;
    }

    &--after {
      width: 340px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .example__details-wrapper {
    text-align: center;
    flex-grow: 1;
    background-image: linear-gradient(white 30%, #eaeaea 10%);
  }

  .example__info-wrapper {
    flex-grow: 1;
  }

  .example__title {
    font-size: 60px;
  }

  .example__subtitle {
    min-width: 40px;
    text-align: center;
    flex-basis: 100%;
  }

  .example__result-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .example__progression {
    flex-grow: 1;
  }

  .example__image {
    min-height: 500px;
    content: url("../../img/before-desktop@1x.png");

    &--after {
      content: url("../../img/after-desktop@1x.png");
    }
  }

  .example__picture {
    display: flex;
    overflow: hidden;

    &--before {
      width: 365px;
    }

    &--after {
      width: 335px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
