.form-program {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #111111;
}

.form-program__footer,
.form-program__wrapper {
  padding: 0 20px;
  padding-bottom: 5px;
}

.form-program__footer {
  padding-bottom: 16px;
  padding-top: 13px;

  text-align: center;
}

.form-program__wrapper {
  &--radio {
    padding-top: 23px;
  }

  &--user-info {
    padding-top: 32px;
  }

  &--comments {
    padding-top: 32px;
  }

  &--other {
    padding-top: 32px;
  }
}

.form-program__title,
.form-program__subtitle {
  margin: 0;
}

.form-program__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
}

.form-program__title {
  padding-top: 10px;

  font-size: 36px;
  line-height: 1.67;
}

.form-program__subtitle {
  padding-top: 26px;
  padding-bottom: 34px;

  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.form-program__order-btn {
  width: 100%;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 2.5em;
  font-size: 16px;

  background-color: $secondary-color;
  color: #ffffff;
}

.form-program__radio {
  border-top: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;
}

.form-program__user-contacts {
  padding-top: 30px;

  .header-line {
    top: 42px;
  }
}

.form-program__comments {
  padding-top: 10px;

  .header-line {
    top: 23px;
  }
}

.form-program__other {
  padding-top: 20px;

  .header-line {
    top: 34px;
  }
}

@media (min-width: $tablet-width) {
  .form-program__wrapper {
    padding: 0;
    margin: 0 30px;

    &--radio {
      padding: 23px 30px 10px 30px;

      border: solid 1px #cdcdcd;

      .fieldset-block__label {
        margin-bottom: 24px;
      }
    }

    &--user-info {
      padding: 75px 40px 0 40px;
    }

    &--comments {
      padding: 78px 40px 0 40px;
    }

    &--other {
      padding: 54px 0 0 24px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .fieldset-block__label {
        margin-bottom: 45px;

        flex-basis: 45%;
      }
    }
  }

  .form-program__footer {
    display: flex;
    margin: 0 30px;
    padding: 18px 40px 78px 40px;
  }

  .form-program__order-btn {
    width: 283px;
    height: 52px;

    font-size: 20px;
  }

  .form-program__wrapper-info {
    padding: 0 40px;
  }

  .form-program__title {
    padding-top: 48px;

    font-size: 60px;
    line-height: 1;
  }

  .form-program__subtitle {
    padding: 55px 40px 65px 40px;

    font-size: 20px;
    line-height: 1.5;
  }

  .form-program__legend {
    margin-left: 63px;

    font-size: 16px;
    line-height: 1;
  }

  .form-program__radio {
    border: unset;
    padding-top: 53px;
  }

  .form-program__user-contacts {
    padding-top: 77px;

    .header-line {
      top: 98px;
    }
  }

  .form-program__comments {
    padding-top: 45px;

    .header-line {
      top: 68px;
    }
  }

  .form-program__other {
    padding-top: 63px;

    .header-line {
      top: 84px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-program__footer {
    padding: 26px 40px 89px 40px;

    .form-program__order-btn {
      width: 568px;
    }

    .form-program__legend {
      margin-left: 83px;
    }
  }

  .form-program__footer,
  .form-program__wrapper {
    margin: 0 auto;
  }

  .form-program__wrapper {
    padding: 0 40px;

    &--comments {
      padding-top: 76px;
    }

    &--radio {
      padding: 25px 28px 14px 28px;
      margin-top: -19px;
      margin-left: 39px;
      margin-right: 40px;
    }

    &--other {
      flex-wrap: nowrap;
      padding-top: 57px;
      padding-left: 0;
      padding-right: 0;
      //margin: 0;

      .fieldset-block__label {
        flex-basis: unset;
        width: 242px;
      }
    }

    &--user-info {
      display: flex;
      padding-top: 75px;

      .fieldset-block__value--text {
        //margin-left: 20px;
      }

      .fieldset-block__label {
        flex-grow: 1;

        &:last-child {
          margin-left: 79px;
        }
      }
    }
  }

  .fieldset-block__legend {
    padding: 0 40px;
  }

  .form-program__wrapper-info {
    display: flex;
    align-items: center;

    padding: 0;
  }

  .form-program__radio,
  .form-program__cat-info {
    flex-grow: 1;
  }

  .form-program__radio {
    padding-top: 0;
  }

  .form-program__title {
    padding-left: 0;
    padding-top: 64px;
  }

  .form-program__subtitle {
    padding: 55px 0 65px 0;
  }

  .form-program__user-contacts {
    padding-top: 50px;

    .header-line {
      top: 72px;
    }
  }
}
