.form-program {
  display: flex;
  flex-direction: column;

  padding: 12px 0;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #111111;
}

.form-program__title,
.form-program__subtitle {
  margin: 0;
}

.title-with-line {
  margin-left: 10px;
}

.form-program__legend {
  padding-top: 15px;
  margin: 0 auto;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
}

.form-program__title {
  font-size: 36px;
  line-height: 1.67;
}

.form-program__subtitle {
  padding-top: 25px;
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.form-program__order-btn {
  margin: 0 auto;
  width: 100%;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 2.5em;
  font-size: 16px;

  background-color: $secondary-color;
  color: #ffffff;
}

.form-program__wrapper--header,
.form-program__footer {
  padding: 0 20px;
}

.form-program__footer {
  text-align: center;
  padding-top: 24px;
  margin-bottom: 17px;
}

.form-program__cat-info {
  padding-bottom: 15px;

  .fieldset-block__label {
    padding: 9px 0 5px 0;
  }
}

.form-program__radio {
  padding-top: 8px;
  padding-bottom: 21px;

  border-top: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;

  .fieldset-block__label {
    padding: 13px 0 0 0;
  }

  .fieldset-block__value {
    margin: 0;
    margin-right: 17px;
  }
}

.form-program__user-contacts {
  .fieldset-block__label {
    padding: 12px 0 0 0;
  }
}

.form-program__other {
  .fieldset-block__label {
    padding: 11px 0 0 0;
  }

  .fieldset-block__value {
    margin: 0;
    margin-right: 17px;
  }
}

@media (min-width: $tablet-width) {
  .form-program {
    margin: 0 auto;
  }

  .form-program__wrapper {
    margin: 0 70px;

    &--radio {
      border: solid 1px #cdcdcd;
    }
  }

  .form-program__other-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-program__footer {
    display: flex;
    justify-content: center;
  }

  .form-program__order-btn {
    flex-grow: 0;
  }

  .fieldset-block__label--checkbox {
    flex-basis: 40%;
  }

  .form-program__other {
    display: flex;
  }
}


@media (min-width: $desktop-width) {
  .form-program__wrapper--header {
    flex-basis: 100%;
  }

  .form-program {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fieldset-block__label--checkbox {
    flex-basis: 20%;
  }

  .form-program__subtitle {
    max-width: 100%;
  }

  .form-program__title,
  .form-program__subtitle,
  .form-program__user-contacts,
  .form-program__comments,
  .form-program__other,
  .form-program__footer {
    flex-basis: 100%;
  }

  .form-program__cat-info,
  .form-program__checkbox {
    flex-basis: 30%;
    flex-grow: 1;
  }
}
