.info-block {
  position: relative;

  width: 124px;
  text-align: center;
}

.info-block__value {
  padding-top: 12px;
  padding-bottom: 18px;

  text-transform: uppercase;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;

  border-radius: 3px;
  border: solid 1px #cdcdcd;
}

.info-block__text {
  position: absolute;
  bottom: -15px;
  left: 19px;

  height: 24px;
  width: 82px;

  font-size: 12px;
  line-height: 1;

  z-index: 1;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .info-block {
    width: 162px;
  }

  .info-block__value {
    font-size: 30px;
    line-height: 1.23;

    padding-top: 15px;
    padding-bottom: 20px;
  }

  .info-block__text {
    left: 23px;
    width: auto;

    font-size: 14px;
    line-height: 1;

    background-color: #ffffff;

    br {
      display: none;
    }
  }

  .info-block--left {
    .info-block__text {
      left: 31px;
    }
  }

  .info-block--right {
    margin-right: auto;
    margin-left: 42px;

    .info-block__text {
      left: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .info-block--left {
    .info-block__text {
      left: 30px;
    }
  }

  .info-block--right {
    .info-block__text {
      left: 18px;
    }
  }

  .info-block__text {
    bottom: -15px;

    font-size: 14px;
    line-height: 1;
    background-color: #eaeaea;
  }

  .info-block__value {
    position: relative;
    padding-bottom: 21px;
  }
}
