.info-list {
  padding: 0;
  padding-top: 13px;
  padding-bottom: 15px;

  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.info-list__item {
  list-style-type: none;
  font-size: 14px;
  line-height: 1;
}

@media (min-width: $tablet-width) {
  .info-list__item {
    font-size: 16px;
    line-height: 1.25;
  }

  .info-list {
    flex-grow: 1;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .info-list {
    flex-grow: 0;
    justify-content: unset;
    width: 32%;
  }

  .info-list__item {
    padding-left: 3px;
    padding-top: 6px;
  }

  .info-list__item--right {
    margin-left: auto;
    margin-right: -4px;
  }
}
