.main-nav {
  width: 100%;
  margin-top: 15px;

  &:hover {
    .main-nav__toggle {
      background: url("../img/icon-close.svg") no-repeat;
    }

    .main-nav__wrapper {
      display: block;
    }
  }
}

.main-nav__wrapper {
  display: none;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  float: right;
  width: 25px;
  height: 19px;
  color: transparent;
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
}
