.map__wrapper {
  position: relative;
}

.map__place {
  min-height: 367px;
  width: 100%;

  background-image: url("/../img/bg-map-mobile@1x.png");

  @media (min-resolution: $retina-dppx) {
    background-image: url("/../img/bg-map-mobile@2x.png");
  }

  background-repeat: no-repeat;
  background-size: cover;
}

.map__contacts {
  min-height: 115px;
}

@media (min-width: $tablet-width) {
  .map__place {
    min-height: 400px;

    background-image: url("/../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("/../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .map__contacts {
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 39px;

    min-height: 195px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .map__place {
    min-height: 400px;

    background-image: url("/../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("/../img/bg-map-desktop@2x.png");
    }
  }
}
