.more-block {
  margin: 0 auto;
  margin-top: 30px;
}

.more-block__plus::before {
  content: "";
  display: block;

  background-image: url("/img/icon-plus.svg");
  background-repeat: no-repeat;

  width: 31px;
  height: 31px;
  margin: 0 auto;

  opacity: 0.3;
}

.more-block__title {
  padding-top: 21px;
  padding-bottom: 9px;
  text-align: center;
}

.more-block__subtitle {
  padding-bottom: 20px;

  font-size: 12px;
  line-height: 1.33;
}

.more-block__show-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  line-height: 2.5em;
  background-color: #f2f2f2;
  color: #444444;
}

.more-block__show-btn,
.more-block__title {
  text-transform: uppercase;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.more-block__title,
.more-block__subtitle {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .more-block {
    padding: 25px 38px;

    text-align: center;
  }

  .more-block__title {
    padding-top: 48px;
    padding-bottom: 24px;

    font-size: 20px;
    line-height: 1;
  }

  .more-block__subtitle {
    padding-bottom: 60px;

    font-size: 16px;
  }

  .more-block__plus::before {
    width: 61px;
    height: 61px;
  }
}

@media (min-width: $desktop-width) {
  .more-block {
    padding: 0;
    padding-top: 25px;
  }

  .more-block__subtitle {
    padding-bottom: 87px;
  }
}
