.other-block {
  position: relative;
  padding-top: 28px;

  border-top: 1px solid $primary-border-color;

  .header-line {
    top: 43px;
  }
}

.other-block__wrapper {
  padding: 0 20px;
}

.other-block__title-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.other-block__list {
  padding: 0;
  list-style-type: none;
}

.other-block__title {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  padding: 0 20px;

  display: inline-block;

  background-color: #ffffff;
}

.other-block__line-after {
  width: 53px;
  flex-grow: 1;
  border-top: 3px solid #68b738;
}

.other-block__name {
  margin: 0;

  font-size: 16px;
  line-height: 1;
}

.other-block__title,
.other-block__name,
.other-block__order-btn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.other-block__name,
.other-block__order-btn {
  text-transform: uppercase;
}

.other-block__order-btn {
  font-size: 16px;
  line-height: 2.5em;

  background-color: $secondary-color;
  color: #ffffff;
}

.other-block__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $primary-border-color;

  &:first-child {
    border-top: 1px solid $primary-border-color;
  }
}

@media (min-width: $tablet-width) {
  .other-block {
    padding-top: 65px;

    .header-line {
      top: calc(10% - 15px);
    }
  }

  .other-block__wrapper {
    padding: 0 30px;
    padding-top: 45px;
  }

  .other-block__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 26px 38px;

    border-left: 1px solid $primary-border-color;
    border-right: 1px solid $primary-border-color;
  }

  .other-block__order-btn {
    margin-top: 25px;
    flex-basis: 100%;
  }

  .other-block__line-before {
    width: 53px;
    border-top: 3px solid #68b738;
  }

  .other-block__title {
    margin-left: 47px;
    font-size: 36px;
    line-height: 1;
  }

  .other-block__name {
    flex-grow: 5;

    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .other-block {
    padding-top: 77px;
    margin-bottom: 90px;

    border-top: unset;

    .header-line {
      top: 100px;
    }
  }

  .other-block__wrapper {
    display: flex;
  }

  .other-block__title {
    margin-left: 0;
    padding: 0 38px;
  }

  .other-block__list {
    width: 73%;
  }

  .other-block__item {
    padding: 16px 0 14px 10px;

    border-left: unset;
    border-right: unset;

    flex-wrap: nowrap;
    align-items: center;
  }

  .other-block__order-btn {
    margin: 0;
    margin-left: 42px;

    flex-basis: 245px;
  }
}
