.other-block {
  padding-top: 28px;

  border-top: 1px solid $primary-border-color;
}

.other-block__wrapper {
  padding: 0 20px;
}

.other-block__title-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.other-block__list {
  padding: 0;
  list-style-type: none;
}

.other-block__title {
  margin: 0;
  position: relative;
  font-size: 24px;
  line-height: 1;
  padding: 0 20px;
}

.other-block__line-after {
  width: 53px;
  flex-grow: 1;
  border-top: 3px solid #68b738;
}

.other-block__name {
  margin: 0;

  font-size: 16px;
  line-height: 1;
}

.info-list__item {
  font-size: 14px;
  line-height: 1;
}

.other-block__title,
.other-block__name,
.other-block__order-btn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.other-block__name,
.other-block__order-btn {
  text-transform: uppercase;
}

.other-block__order-btn {
  font-size: 16px;
  line-height: 2.5em;

  background-color: $secondary-color;
  color: #ffffff;
}

.other-block__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $primary-border-color;

  &:first-child {
    border-top: 1px solid $primary-border-color;
  }
}

@media (min-width: $tablet-width) {
  .other-block__item {
    border-left: 1px solid $primary-border-color;
    border-right: 1px solid $primary-border-color;
  }

  .other-block__line-before {
    width: 53px;
    border-top: 3px solid #68b738;
  }

  .other-block__title {
    padding: 0 30px;
  }
}

// @media (min-width: $desktop-width) {
// }
