.other-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 300px;
  border-top: 1px solid $primary-border-color;
}

.other-block__title-wrapper {
  display: flex;
  align-items: center;
}

.other-block__list {
  padding: 0;
  list-style-type: none;
}

.other-block__title {
  position: relative;
  font-size: 24px;
  line-height: 1;
  padding: 0 10px;
}

.other-block__line-after {
  width: 53px;
  flex-grow: 1;
  border-top: 3px solid #68b738;
}

.other-block__name {
  flex-basis: 100%;
  font-size: 16px;
  line-height: 1;
}

.info-list__item {
  font-size: 14px;
  line-height: 1;
}

.other-block__title,
.other-block__name,
.other-block__order-btn {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.other-block__name,
.other-block__order-btn {
  text-transform: uppercase;
}

.other-block__order-btn {
  display: block;
  flex-basis: 100%;
  margin: 20px auto;

  text-align: center;
  text-decoration: none;
  line-height: 2.5em;

  background-color: $secondary-color;
  color: #ffffff;
}

.other-block__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid $primary-border-color;

  &:first-child {
    border-top: 1px solid $primary-border-color;
  }
}

.other-block__info {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .other-block__item {
    padding: 30px 40px;
    border-left: 1px solid $primary-border-color;
    border-right: 1px solid $primary-border-color;
  }

  .other-block__info {
    align-items: center;
    justify-content: space-between;
    flex-basis: 40%;
    flex-grow: 1;
  }

  .other-block__name {
    flex-basis: 40%;
    flex-grow: 1;
  }

  .other-block__line-before {
    width: 53px;
    border-top: 3px solid #68b738;
  }

  .other-block__title {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .other-block {
    flex-direction: row;
    margin-bottom: 80px;
  }

  .other-block__title-wrapper {
    flex-basis: 100%;
  }

  .other-block__list {
    flex-basis: 70%;
  }

  .other-block__item {
    align-items: center;
    padding: 0;
    flex-wrap: nowrap;
    border-left: none;
    border-right: none;
  }

  .other-block__order-btn {
    max-width: 245px;
    margin: 20px;
  }
}
