.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 11px;
  padding-left: 20px;
  padding-bottom: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo img {
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding: 0;
  }

  .page-header {
    flex-direction: row;

    padding-right: 30px;
    padding-top: 22px;
    padding-left: 30px;
  }

  .page-header__logo img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 37px;
  }

  .page-header__logo img {
    width: 203px;
    height: 60px;
  }
}
