@media (min-width: $desktop-width) {
  .page-main__index-bg::before {
    content: "";

    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #63a639;

    position: absolute;

    left: auto;
    right: 0;
    top: 0;

    width: 50%;
    height: 696px;

    z-index: -1;
  }
}
