.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px 20px 0 20px;
}

.page-footer__map {
  position: relative;

  min-height: 475px;
  width: 100%;
}

.page-footer__logo {
  width: 128px;
  height: 24px;

  content: url("../img/logo-footer.svg");

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-place {
  padding: 27px 0;
  width: 100%;

  text-align: center;
}

.page-footer__social {
  padding: 22px 0;
  width: 100%;

  border-top: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;
}

.page-footer__copyright {
  //padding: 22px 0;
  padding: 12px 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer__map {
    min-height: 400px;
  }

  .page-footer__social {
    border: 0;
  }

  .page-footer__wrapper {
    flex-direction: row;
    padding: 26px 25px 31px 26px;
    //padding: 28px 25px 33px 25px;
  }

  .page-footer__logo-place {
    padding: 30px 5px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 26px 36px 31px 36px;
  }
}
