.page-header {
  margin-top: 20px;

  .page-header__logo-image {
    width: 191px;
    height: 39px;
    margin-left: 20px;
  }

  .main-nav {
    .main-nav__toggle {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
