.progression {
  display: flex;
  align-items: baseline;
}

.progression__text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;

  font-size: 16px;
  line-height: 1.25;
}

.progression__container {
  position: relative;
  z-index: 1000;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}


.progression__value {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}


@media (min-width: $tablet-width) {
  .progression__container {
    height: 6px;
    width: 428px;
    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .progression__value {
    width: 30px;
    height: 30px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
    border-radius: 50%;
    top: -12px;
    left: 50%;
  }
}
