.progression {
  position: relative;

  display: flex;
  align-items: center;
}

.progression__text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;

  font-size: 16px;
  line-height: 1.25;
}

.progression__value {
  appearance: none;
  background: transparent;
  width: 100%;
}

.progression__value::-moz-range-track {
  height: 14px;
  padding: 2px 6px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

.progression__value::-webkit-slider-runnable-track {
  height: 14px;
  padding: 2px 6px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

.progression__value::-ms-track {
  height: 14px;
  padding: 2px 6px;
  width: 74px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;

  border-color: transparent;
  color: transparent;
}

.progression__value::-ms-fill-lower {
  background: #ffffff;
}

.progression__value::-ms-fill-upper {
  background: #ffffff;
}

/* Special styling for WebKit/Blink */
.progression__value::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  border: 1px solid #ffffff;
  background: #68b738;
  cursor: pointer;
}

/* All the same stuff for Firefox */
.progression__value::-moz-range-thumb {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: #68b738;
  cursor: pointer;
}

/* All the same stuff for IE */
.progression__value::-ms-thumb {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: #68b738;
  cursor: pointer;
}


@media (min-width: $tablet-width) {
  .progression__value {
    width: 428px;
  }

  .progression__value:focus {
    outline: none;
  }

  .progression__container {
    padding-left: 24px;
    padding-right: 20px;
  }

  .progression__value::-moz-range-track {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    cursor: pointer;
    background: #dcdcdc;
    border: 0;
    padding: 0;
  }

  .progression__value::-webkit-slider-runnable-track {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    cursor: pointer;
    background: #dcdcdc;
  }

  /* Special styling for WebKit/Blink */
  .progression__value::-webkit-slider-thumb {
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 13px #cdcdcd, 0 2px 5px 13px #cdcdcd;
    border: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #68b738;;
    cursor: pointer;
    appearance: none;
  }

  /* All the same stuff for Firefox */
  .progression__value::-moz-range-thumb {
    position: relative;
    border-radius: 50%;
    border: 0;

    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 13px #cdcdcd, 0 2px 5px 13px #cdcdcd;
  }

  /* All the same stuff for IE */
  .progression__value::-ms-thumb {
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 13px #cdcdcd, 0 2px 5px 13px #cdcdcd;
    border: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #68b738;;
    cursor: pointer;
  }

  .progression__value::-ms-track {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  .progression__value::-ms-fill-lower {
    background-color: #dcdcdc;
    border-radius: 2.5px;
    box-shadow: 1px 1px 1px #dcdcdc, 0 0 1px #dcdcdc;
  }

  .progression__value::-ms-fill-upper {
    background: #dcdcdc;
    border-radius: 2.5px;
    box-shadow: 1px 1px 1px #dcdcdc, 0 0  1px #dcdcdc;
  }

  .progression__value::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.25);
  }

  .progression__value::-ms-thumb:hover {
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.25);
  }

  .progression__value::-moz-range-thumb:hover {
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.25);
  }

  .progression__value::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.3), 0 0 0 15px #68b738;
  }

  .progression__value::-ms-thumb:active {
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.3), 0 0 0 15px #68b738;
  }

  .progression__value::-moz-range-thumb:active {
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.3), 0 0 0 15px #68b738;
  }

  .progression__text {
    font-size: 20px;
    line-height: 1;
  }
}
