.progression {
  position: relative;

  display: flex;
  align-items: center;
}

.progression__text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;

  font-size: 16px;
  line-height: 1.25;
}

.progression__value {
  margin: 0 20px;
  appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 84px;
  height: 14px;
  padding: 2px 6px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;

  /* Otherwise white in Chrome */
}

.progression__value:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.progression__value::-ms-track {
  width: 84px;
  height: 14px;
  padding: 2px 6px;

  border-radius: 6px;
  border: solid 1px #cdcdcd;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
.progression__value::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: #68b738;
  cursor: pointer;
}

/* All the same stuff for Firefox */
.progression__value::-moz-range-thumb {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: #68b738;
  cursor: pointer;
}

/* All the same stuff for IE */
.progression__value::-ms-thumb {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: #68b738;
  cursor: pointer;
}


@media (min-width: $tablet-width) {
  .progression__container {
    padding-left: 24px;
    padding-right: 20px;
  }

  .progression__value {
    margin: 10px 0;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;

    padding: unset;
    border: unset;
  }

  /* Special styling for WebKit/Blink */
  .progression__value::-webkit-slider-thumb {
    position: relative;
    border-radius: 50%;
    border: unset;

    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 13px #cdcdcd, 0 2px 5px 13px #cdcdcd;
  }

  /* All the same stuff for Firefox */
  .progression__value::-moz-range-thumb {
    position: relative;
    border-radius: 50%;
    border: unset;

    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 13px #cdcdcd, 0 2px 5px 13px #cdcdcd;
  }

  /* All the same stuff for IE */
  .progression__value::-ms-thumb {
    position: relative;
    border-radius: 50%;
    border: unset;

    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 12px #ffffff, 0 0 0 13px #cdcdcd, 0 2px 5px 13px #cdcdcd;
  }

  .progression__value::-webkit-slider-thumb:hover{
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.25);
  }

  .progression__value::-ms-thumb:hover{
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.25);
  }

  .progression__value::-moz-range-thumb:hover{
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.25);
  }

  .progression__value::-webkit-slider-thumb:active{
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.3),
    0 0 0 15px  #68b738;
  }

  .progression__value::-ms-thumb:active{
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.3),
    0 0 0 15px  #68b738;
  }

  .progression__value::-moz-range-thumb:active{
    box-shadow: 0 0 0 12px #ffffff, 0 2px 5px 13px rgba(0, 0, 0, 0.3),
    0 0 0 15px  #68b738;
  }


  .progression__text {
    font-size: 20px;
    line-height: 1;
  }
}

// @media (min-width: $desktop-width) {}
