.promo-block {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat;
  background-position: top 0 center;
}

.promo-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.promo-block__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 320px;
  z-index: 0;
}

.promo-block__program-btn {
  width: 245px;
  height: 52px;
  display: block;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2.5em;

  background-color: $secondary-color;
  color: #ffffff;
}

.promo-block__intro,
.promo-block__slogan {
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 1;
}

.promo-block__intro {
  font-size: 36px;
  margin: 25px;
}

.promo-block__slogan {
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .promo-block {
    background: none;
  }

  .promo-block__wrapper {
    flex-basis: 100%;
  }
}

@media (min-width: $tablet-width) {
  .promo-block {
    margin-top: -20px;
    padding-left: 116px;
  }

  .promo-block__wrapper {
    align-items: flex-start;
  }

  .promo-block__info {
    margin-bottom: 53px;
    order: 1;
    width: auto;
  }

  .promo-block__can-image {
    order: 2;
    margin-top: -82px;
    margin-left: -65px;
    width: 709px;
    height: 609px;
    content: url("../../img/index-can-tablet@1x.jpg");
  }

  .promo-block__intro,
  .promo-block__slogan {
    color: #111111;
    text-align: left;
  }

  .promo-block__intro {
    margin: 55px 0;
    font-size: 60px;
  }

  .promo-block__slogan {
    font-size: 20px;
  }

  .promo-block__program-btn {
    order: 1;
    font-size: 20px;
    z-index: 1;
  }

  .promo-block__program-btn.button {
    width: 245px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .promo-block {
    justify-content: start;
    align-items: flex-start;
    min-height: 585px;
    padding-top: 165px;
    margin-top: -122px;
    padding-left: 190px;
    background-image: unset;
    position: relative;
  }

  .promo-block__wrapper {
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      background: url(../../img/index-background-desktop@1x.jpg) no-repeat;
      background-position: top right;
      height: 720px;
      width: 100%;
      z-index: -1;
    }
  }

  .promo-block__can-image {
    position: absolute;
    right: 328px;
    top: 230px;
    width: 552px;
    height: 499px;
    content: url("../../img/index-can-desktop@1x.png");
  }

  .promo-block__intro,
  .promo-block__slogan,
  .promo-block__can-image {
    //padding: 0 20px;
  }

  .promo-block__intro,
  .promo-block__slogan {
    width: 415px;
    // margin: 0 100px;
  }

  .promo-block__program-btn.button {
    width: 245px;
    height: 52px;
    // bottom: 0;
  }

  .promo-block__intro {
    margin-left: 0;
    margin-top: 77px;
    font-size: 60px;
  }
}
