.promo-block {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: url("../../img/index-background-mobile@1x.jpg") no-repeat;
  background-position: top 0 center;
}

.promo-block__info {
  display: flex;
  flex-direction: column;
  width: 320px;
  z-index: 0;
}

.promo-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.promo-block__program-btn {
  display: block;
  margin: 20px auto;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2.5em;

  background-color: $secondary-color;
  color: #ffffff;
}

.promo-block__can-image {
  padding-top: 30px;
  padding-bottom: 3px;
}

.promo-block__intro,
.promo-block__slogan {
  padding: 0 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 1;
}

.promo-block__intro {
  font-size: 36px;
}

.promo-block__slogan {
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .promo-block {
    background: none;
  }

  .promo-block__wrapper {
    flex-basis: 100%;
  }
}

@media (min-width: $tablet-width) {
  .promo-block {
    position: relative;
  }

  .promo-block__info {
    width: auto;
    z-index: 1;
  }

  .promo-block__can-image {
    width: 709px;
    height: 609px;
    content: url("../../img/index-can-tablet@1x.jpg");
  }

  .promo-block__intro,
  .promo-block__slogan {
    color: #111111;
    text-align: left;
    padding: 0 115px;
  }

  .promo-block__intro {
    font-size: 60px;
  }

  .promo-block__slogan {
    font-size: 20px;
  }

  .promo-block__program-btn {
    position: absolute;
    left: 115px;
  }
}

@media (min-width: $desktop-width) {
  .promo-block {
    background: url("../../img/index-background-desktop@1x.jpg") no-repeat;
    background-position: top right;
  }

  .promo-block__wrapper {
    flex-direction: row;
  }

  .promo-block__can-image {
    margin-top: 0;
    margin-right: 428px;
    width: 552px;
    height: 499px;
    content: url("../../img/index-can-desktop@1x.png");
  }

  .promo-block__intro,
  .promo-block__slogan,
  .promo-block__can-image {
    padding: 0 20px;
  }

  .promo-block__intro,
  .promo-block__slogan {
    width: 410px;
    margin: 0 100px;
  }

  .promo-block__program-btn {
    bottom: 0;
  }

  .promo-block__info {
    width: 30%;
  }
}
