.site-list {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

.site-list a {
  display: block;
  padding-top: 24px;
  padding-bottom: 20px;

  text-transform: uppercase;
  text-decoration: none;

  color: inherit;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;

    font-size: 18px;
    line-height: 1.39;
    font-weight: 400;
  }

  .site-list__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;

    background: none;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    font-size: 20px;
    line-height: 1.25;
    color: #ffffff;

    &--default {
      color: #111111;
    }
  }
}
