.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;

  width: 100%;
}

.site-list__item {
  height: 65px;
  text-align: center;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  line-height: 3em;

  &:first-child {
    border-top: 1px solid #dedede;
  }
}

.site-list__link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    line-height: 1.39;
    font-weight: 400;
  }

  .site-list__item {
    border: none;
    margin-right: 63px;
    margin-left: -140px;

    &:first-child {
      border-top: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    font-size: 20px;
    line-height: 1.25;
    color: #ffffff;
  }

  .site-list__item--active .site-list__link {
    border-bottom: 2px solid #ffffff;
  }
}
