.site-list {
  margin: 0;
  padding: 0;

  @include set-font-face-oswald-medium;
  @include set-font-style(20px, 1);

  .site-list__item {
    height: 65px;
    text-align: center;
    border-top: 1px solid #dedede;
    text-transform: uppercase;
    line-height: 3em;
  }
}
