.social {
  .social__list {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
  }

  .social__link {
    opacity: 0.5;

    &--vkontakte {
      margin-right: 34px;

      @include set-link-as-icon($icon-vk-url, 22px, 12px);
    }

    &--instagram {
      margin-right: 36px;

      @include set-link-as-icon($icon-insta-url, 23px, 23px);
    }

    &--facebook {
      @include set-link-as-icon($icon-fb-url, 10px, 19px);
    }
  }
}
