.social__list {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  opacity: 0.5;
  display: block;
  border: none;
  color: transparent;

  &--vkontakte {
    width: 22px;
    height: 12px;
    background: url("../img/icon-vk.svg") no-repeat;
  }

  &--instagram {
    width: 23px;
    height: 23px;
    background: url("../img/icon-insta.svg") no-repeat;
  }

  &--facebook {
    width: 10px;
    height: 19px;
    background: url("../img/icon-fb.svg") no-repeat;
  }
}
