@mixin set-font-face ($font-weight, $font-family) {
  font-weight: $font-weight;
  font-family: $font-family;
}

@mixin set-font-face-arial() {
  $font-family: "Arial", sans-serif;
  $font-weight: normal;
  @include set-font-face($font-weight, $font-family);
}

@mixin set-font-face-oswald-medium() {
  $font-family: "Oswald";
  $font-weight: 500;
  @include set-font-face($font-weight, $font-family);
}

@mixin set-font-face-oswald-regular() {
  $font-family: "Oswald";
  $font-weight: 400;
  @include set-font-face($font-weight, $font-family);
}

@mixin set-font-style($font-size: 14px, $line-height: 1.29, $letter-spacing: normal) {
  font-size: $font-size;
  font-stretch: normal;
  font-style: normal;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin set-link-as-btn($bg-color: $secondary-color, $color: $primary-btn-color, $line-height: 2.5em) {
  display: block;

  text-align: center;
  text-decoration: none;
  line-height: $line-height;

  background-color: $bg-color;
  color: $color;
}

@mixin set-link-as-icon($img-url, $width: 31px, $height: 31px) {
  display: block;
  width: $width;
  height: 31px;
  border: none;
  color: transparent;

  background: $img-url no-repeat;
}
