$primary-bg-color: #ffffff;
$primary-color: #444444;
$primary-header-color: #111111;
$secondary-color:#68b738;
$primary-btn-color:#ffffff;
$primary-border-color: #dedede;

//Icons and Images
$icon-right-arrow-long-url : url(../../img/icon-right-arrow-long.svg);
$icon-mobile-menu-url : url(../../img/icon-mobile-menu.svg);
$icon-fb-url : url(../img/icon-fb.svg);
$icon-vk-url : url(../img/icon-vk.svg);
$icon-insta-url : url(../img/icon-insta.svg);
$icon-plus-mobile-url : url(../img/icon-plus-mobile.svg);

$htmlacademy-url : url(../../img/htmlacademy.svg);
